In [9]:
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
url = "http://dlsun.github.io/pods/data/covid/"

In [11]:
df_PT = pd.read_csv(url + "portugal_2020-05-28.csv")
df_CO = pd.read_csv(url + "colombia_2020-05-28.csv")

In [12]:
df_PT.head(10)

     age     sex  fatality
0  60-69  Female         0
1  60-69    Male         0
2    80+    Male         0
3  60-69  Female         0
4  50-59  Female         0
5  60-69  Female         0
6  40-49  Female         0
7  20-29    Male         0
8  60-69  Female         0
9  20-29  Female         0

In [13]:
df_CO.head(10)

,Departamento,Edad,Sexo,Tipo,Ubicación,Estado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha recuperado
0,Bogotá D.C.,19,F,Importado,Recuperado,Leve,2020-02-27,- -,2020-03-06,2020-03-13
1,Valle del Cauca,34,M,Importado,Recuperado,Leve,2020-03-04,- -,2020-03-09,2020-03-19
2,Antioquia,50,F,Importado,Recuperado,Leve,2020-02-29,- -,2020-03-09,2020-03-15
3,Antioquia,55,M,Relacionado,Recuperado,Leve,2020-03-06,- -,2020-03-11,2020-03-26
4,Antioquia,25,M,Relacionado,Recuperado,Leve,2020-03-08,- -,2020-03-11,2020-03-23
5,Antioquia,27,F,Relacionado,Recuperado,Leve,2020-03-06,- -,2020-03-11,2020-03-26
6,Cartagena D.T. y C.,85,F,Importado,Recuperado,Leve,2020-03-02,- -,2020-03-11,2020-03-17
7,Bogotá D.C.,22,F,Importado,Recuperado,Leve,2020-03-06,- -,2020-03-11,2020-03-21
8,Bogotá D.C.,28,F,Importado,Recuperado,Leve,2020-03-07,- -,2020-03-11,2020-03-23
9,Bogotá D.C.,36,F,Importado,Recuperado,Leve,2020-03-06,- -,2020-03-12,2020-03-21

In [14]:
df_CO["Estado"].map({
    "Fallecido": 1
})

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
25361   NaN
25362   NaN
25363   NaN
25364   NaN
25365   NaN
Name: Estado, Length: 25366, dtype: float64

In [16]:
df_CO["fatality"] = df_CO["Estado"].map({
    "Fallecido": 1
}).fillna(0)

In [17]:
df_CO.head()

,Departamento,Edad,Sexo,Tipo,Ubicación,Estado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha recuperado,fatality
0,Bogotá D.C.,19,F,Importado,Recuperado,Leve,2020-02-27,- -,2020-03-06,2020-03-13,0.0
1,Valle del Cauca,34,M,Importado,Recuperado,Leve,2020-03-04,- -,2020-03-09,2020-03-19,0.0
2,Antioquia,50,F,Importado,Recuperado,Leve,2020-02-29,- -,2020-03-09,2020-03-15,0.0
3,Antioquia,55,M,Relacionado,Recuperado,Leve,2020-03-06,- -,2020-03-11,2020-03-26,0.0
4,Antioquia,25,M,Relacionado,Recuperado,Leve,2020-03-08,- -,2020-03-11,2020-03-23,0.0

In [18]:
df_CO["age"] = pd.cut(
    df_CO["Edad"],
    bins=[0, 10, 20, 30, 40, 50, 60, 70, 80, 120],
    labels=["0-9", "10-19", "20-29", "30-39", "40-49", "50-59", "60-69", "70-79", "80+"],
    right=False)

In [19]:
df_CO.head()

,Departamento,Edad,Sexo,Tipo,Ubicación,Estado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha recuperado,fatality,age
0,Bogotá D.C.,19,F,Importado,Recuperado,Leve,2020-02-27,- -,2020-03-06,2020-03-13,0.0,10-19
1,Valle del Cauca,34,M,Importado,Recuperado,Leve,2020-03-04,- -,2020-03-09,2020-03-19,0.0,30-39
2,Antioquia,50,F,Importado,Recuperado,Leve,2020-02-29,- -,2020-03-09,2020-03-15,0.0,50-59
3,Antioquia,55,M,Relacionado,Recuperado,Leve,2020-03-06,- -,2020-03-11,2020-03-26,0.0,50-59
4,Antioquia,25,M,Relacionado,Recuperado,Leve,2020-03-08,- -,2020-03-11,2020-03-23,0.0,20-29

In [20]:
df_PT.describe

<bound method NDFrame.describe of          age     sex  fatality
0      60-69  Female         0
1      60-69    Male         0
2        80+    Male         0
3      60-69  Female         0
4      50-59  Female         0
...      ...     ...       ...
31591  40-49    Male         0
31592  30-39    Male         0
31593    80+  Female         0
31594  40-49  Female         0
31595  70-79  Female         0

[31596 rows x 3 columns]>

In [21]:
df_PT.describe()

           fatality
count  31596.000000
mean       0.043328
std        0.203598
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [22]:
df_CO.describe()

               Edad      fatality
count  25366.000000  25366.000000
mean      39.047426      0.032406
std       18.657091      0.177078
min        0.000000      0.000000
25%       26.000000      0.000000
50%       37.000000      0.000000
75%       52.000000      0.000000
max      103.000000      1.000000